body {
    background-color: lightgrey;
}

body > div {
    background-color: #2b3e50;
}


div.container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer {
    margin-top: 20px;
    font-family: "Times New Roman";
    text-align: justify;
    border-radius: 5px;
}
